.details{
    padding-left: 175px;
    margin-top: -50px;
    
}
.logo{
    margin: 150px;
}
.h1{
    margin-top: 20px;
    margin-bottom: -30px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.h2{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

button{ 
    border: none;
    height: 45px;
    width: 300px;
}
.p1{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.or{
    display: inline-block;
    align-content: center;
}
.box{
    border: 1px solid grey;
    text-align: center;
    width: 140px;
    display: inline-block;
    
}
a{
    text-decoration: none;
}
.button2{
    display: block;
}
.button3{
    background-color: black;
    border: 1px solid grey;

}
.small{
    font-size: 12px;
    margin-bottom: 2px;
    margin-left: 10px;
}
.button1:hover{
    background-color: rgba(255, 255, 255, 0.865);
}
.button3:hover{
    background-color: rgba(66, 215, 248, 0.15);
}
a:hover{
    text-decoration: underline;
}